* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  color: white;
  background-color: black;
  font-family: "Gaegu", sans-serif;
}

h1 {
  font-family: "Bytesized", sans-serif;
}

.light-mode {
  color: black;
  background-color: white;
}

.center {
  width: 940px;
  padding: 20px;
  border: 1px dotted white;
  margin-left: auto;
  margin-right: auto;
}

.poem {
  text-align: center;
}

#calculator {
  background-color: blue;

  max-width: 119px;
}

#calculator-buttons {
  background-color: rgb(85, 85, 255);

  max-width: 119px;
}

#counter {
  background-color: rgb(170, 170, 255);

  max-width: 119px;
}

button {
  min-width: 35px;
  max-width: 110px;
}

.light-mode footer {
  color: white;
  background-image: linear-gradient(to bottom, rgb(170, 170, 255), blue);
}

.dark-mode footer {
  color: white;
  background-image: linear-gradient(to bottom, rgb(170, 170, 255), rgb(85, 85, 255));
}